@page "/myreservations"
@using CampingApp.Domain;
@using CampingApp.Services;
@inject IReservationService ReservationService;
@inject NavigationManager NavigationManager;

<PageTitle>@title</PageTitle>

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 text-capitalize text-black">Twoje rezerwacje</h1>
    </div>

    <div class="container">
        <div class="row">
            @if (myReservations is not null)
            {
                foreach (var reservation in myReservations)
                {
                    <div class="col-4 mb-5">
                        <a class="pizza-img" asp-area="" asp-page="Detail">
                            @*<img src="@imagePath" class="w-100" asp-append-version="true" />*@
                            <img src="@reservation.Place.ImageToDisplay()" class="w-100" asp-append-version="true" />
                        </a>
                        <br />
                        <p class="nameText">@reservation.Place.Name</p>
                        <p class="smallTextOwn">woj. @reservation.Place.Address.Voivodeship</p>
                        <br />
                        <p class="smallTextOwn">zameldowanie: @reservation.StartDate.ToShortDateString()</p>
                        <p class="smallTextOwn">wymeldowanie: @reservation.EndDate.ToShortDateString()</p>
                        @*<p class="smallTextOwn">status rezerwacji: @reservation.Status.StatusName</p>*@
                        @if (reservation.Status.Id == 1)
                        {
                            @*//rzeba przechwycic id place i w tym celu musimy stworzyc anonimowa funckje ktora bedzie przechwytywac obiekt*@
                            @*reservation i wywola handleButtonClick z tym obiektetm *@
                            <button class="own-button" @onclick="@(()=>HandleButtonClick(reservation))">Zarządzaj rezerwacją</button>
                        }
                    </div>
                }
            }
        </div>
    </div>
</div>

@code {
    private string title = "CampApp";

    private List<ReservationModel> myReservations;

    [Parameter]
    public int ReservationId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            myReservations = await ReservationService.GetMyReservation();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    private async Task HandleButtonClick(ReservationModel reservationModel)
    {
        try
        {
            //przeladowanie strony z nawigacja do strony glownej:
            NavigationManager.NavigateTo($"/reservation/{reservationModel.Id}");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}