@page "/offers"
@using CampingApp.Domain;
@using CampingApp.Services;
@inject IPlaceService placeService;
@inject NavigationManager navigationManager;

<PageTitle>@title</PageTitle>

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 text-capitalize text-black">Wybierz mejsce na swoją przygodę</h1>
        <h4>Bądź bliżej natury</h4>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 mb-5 mt-5">
                <div class="w-100 row makeYourOwnDiv">
                    <div class="col-4">
                        <img src="/images/camping.jpeg" class="w-100" />
                    </div>
                    <div class="col-8 alig-items-center">
                        <div class="align-middle makeYourOwnText">
                            <h3 style="text-align:left;">Stwórz własne wspomnienia</h3>
                            <p style="text-align: left;">Wybierz, potwierdź i ciesz się przygodą</p>
                            <a class="btn btn-primary" style="float: left" asp-area="" asp-page="Detail">Podgląd random pola</a>
                        </div>
                    </div>
                </div>
            </div>
            @foreach (var place in Places)
                {
                    var imagePath = "/images/camping.jpeg";
                    var link = "detail/" + place.Id;
        <div class="col-4 mb-5">
            @*<NavLink class="pizza-img" href=@link>*@
            <img src="@imagePath" class="w-100" asp-append-version="true" />
            <button @onclick="@(() => NavigateToDetails(place))">szczegoly pola</button>

            <br />
            <p class="nameText">@place.Name</p>
            <p class="smallTextOwn">@place.Description</p>
            <p class="smallTextOwn">od @place.PricePerDay zł / noc</p>
        </div>
            }
        </div>
    </div>
</div>


@code {
    private string title = "CampApp";

    List<PlaceModel> Places = new List<PlaceModel>();

    protected override async Task OnInitializedAsync() //odpali sie gdy pierwszy raz odpali widok
    {
        //chcemy od razu zaladowac z bazy danych liste miec i dzieki temu ze ta metoda oninit uruch sie od razu to tak bedzie
        try
        {
            Places = await placeService.GetPlaces();

        }
        catch (Exception ex)
        {
            Console.WriteLine("Error: " + ex);
        }
    }

    private void NavigateToDetails(PlaceModel placeModel)
    {
        Console.WriteLine("iza" + placeModel.Id);
        navigationManager.NavigateTo($"detail/{placeModel.Id}");
    }


}

