@page "/offers"
@using CampingApp.Domain;
@using CampingApp.Services;
@using Microsoft.AspNetCore.WebUtilities;
@using Microsoft.Extensions.Primitives;  
@inject IPlaceService placeService;
@inject NavigationManager navigationManager;

<PageTitle>@title</PageTitle>

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 text-capitalize text-black">Wybierz mejsce na swoją przygodę</h1>
        <h4>Bądź bliżej natury</h4>
    </div>

    <div class="container">
        <div class="row">
            @if (Places == null)
            {
                <p>Szukam Twoich wymarzonych wakacji ...</p>
            }
            else
            {
                if (Places.Count() == 0)
                {
                    <p>Brak miejsc, wybierz proszę inne parametry wyjazdu</p>
                }
                else
                {
                    foreach (var place in Places)
                    {
                        var imagePath = "/images/camping.jpeg";
                        var link = "detail/" + place.Id;
                        <div class="col-4 mb-5">
                            @*<NavLink class="pizza-img" href=@link>*@
                            <img src="@imagePath" class="w-100" asp-append-version="true" />
                            <button @onclick="@(() => NavigateToDetails(place))">szczegoly pola</button>

                            <br />
                            <p class="nameText">@place.Name</p>
                            <p class="smallTextOwn">@place.Description</p>
                            <p class="smallTextOwn">od @place.PricePerDay zł / noc</p>
                        </div>
                    }
                }
            }

        </div>
    </div>
</div>


@code {
    private string title = "CampApp";

    List<PlaceModel> Places;

    protected override async Task OnInitializedAsync() //odpali sie gdy pierwszy raz odpali widok
    {
        //odczytujemy dane z query params czyli z tego co sobie turyta wyklika na szukajce i wysylamy do serwera
        var uri = navigationManager.ToAbsoluteUri(navigationManager.Uri);
        var searchString = uri.ToString().Split("?");

        //chcemy od razu zaladowac z bazy danych liste miec i dzieki temu ze ta metoda oninit uruch sie od razu to tak bedzie
        try
        {
            Places = await placeService.SearchPlaces(searchString.Last());

        }
        catch (Exception ex)
        {
            Console.WriteLine("Error: " + ex);
        }
    }

    private void NavigateToDetails(PlaceModel placeModel)
    {
        Console.WriteLine("iza" + placeModel.Id);
        navigationManager.NavigateTo($"detail/{placeModel.Id}");
    }

    @*private void NavigateToRandomDetails()
        {
            PlaceModel placeModel = new PlaceModel();
            var sizePlacesList = Places.Count();

            Console.WriteLine("iza sizeplacelist " + sizePlacesList);

            Random rd = new Random();

            int rand_num = rd.Next(1, sizePlacesList);
            var id = Places[rand_num].Id;


            Console.WriteLine("iza rand_num " + rand_num);


            Console.WriteLine("iza" + id);
            navigationManager.NavigateTo($"detail/{id}");
        }*@


}

