@page "/reservation/{ReservationId:int}"
@using CampingApp.Domain;
@using CampingApp.Services;
@inject IReservationService ReservationService;
@inject IJSRuntime JSRuntime;


<PageTitle>@title</PageTitle>

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 text-capitalize text-black">Twoja rezerwacja</h1>
    </div>
    <div class="container">
        <div class="row">
            @if (myReservation is not null)
            {
                <div class="col-12 mb-5 mt-5">
                    <div class="w-100 row makeYourOwnDiv">
                        <div class="col-4">
                            @*<img src="/images/camping.jpeg" class="w-100" />*@
                            <img src="@myReservation.Place.ImageToDisplay()" class="w-100" asp-append-version="true" />

                        </div>
                        <div class="col-8 alig-items-center">
                            <div class="align-middle makeYourOwnText">
                                <br />
                                <p class="nameText">@myReservation.Place.Name</p>
                                <p class="smallTextOwn">@myReservation.Place.Description</p>
                                <p class="smallTextOwn">cena za dobę: @myReservation.Place.PricePerDay zł</p>
                                <p class="smallTextOwn">od @myReservation.StartDate do @myReservation.EndDate</p>
                                <p class="smallTextOwn">Adres: @myReservation.Place.Address.ToString()</p>
                                <p class="smallTextOwn">Udogodnienia:</p>
                                <div>
                                    <div>
                                        @if (myReservation.Place.AnimalsAllowed)
                                        {
                                            <span>Przyjazne zwierzętom</span>
                                        }
                                    </div>
                                    <div>
                                        @if (myReservation.Place.ReceptionExist)
                                        {
                                            <span>Całodzienna recepcja</span>
                                        }
                                    </div>
                                    <div>
                                        @if (myReservation.Place.MedicExist)
                                        {
                                            <span>Usługi medyczne</span>
                                        }
                                    </div>
                                    <div>
                                        @if (myReservation.Place.RestaurantExist)
                                        {
                                            <span>Restauracja</span>
                                        }
                                    </div>
                                    <div>
                                        @if (myReservation.Place.GrillExist)
                                        {
                                            <span>Miejsce na ognisko lub grilla</span>
                                        }
                                    </div>
                                    <div>
                                        @if (myReservation.Place.WifiExist)
                                        {
                                            <span>WiFi</span>
                                        }
                                    </div>
                                    <div>
                                        @if (myReservation.Place.SwimmingpoolExist)
                                        {
                                            <span>Basen</span>
                                        }
                                    </div>
                                </div>
                                <button class="own-button" @onclick="HandlePdfButtonClick">Pobierz potwierdzenie rezerwacji</button>
                                @*<button class="own-button" @onclick="HandleCancelButtonClick">Anuluj rezerwację</button>*@
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int ReservationId { get; set; }

    private string title = "CampApp";

    private ReservationModel myReservation;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            myReservation = await ReservationService.GetReservationById(ReservationId);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    private async Task HandleCancelButtonClick()
    {
        try
        {
            Console.WriteLine("Anulowano rezerwacje");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    private async Task HandlePdfButtonClick()
    {
        try
        {
            var pdfBytes = await ReservationService.GetReservationPdfById(myReservation.Id);
            await JSRuntime.InvokeVoidAsync(
            "downloadFromByteArray",
            new
            {
                ByteArray = pdfBytes,
                FileName = $"confirmation-{myReservation.Id}.pdf",
                ContentType = "application/pdf"
            });

        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}

