@page "/reservation"
@using CampingApp.Domain;
@using CampingApp.Services;
@inject IReservationService ReservationService;


<PageTitle>@title</PageTitle>

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 text-capitalize text-black">Twoja rezerwacja</h1>
    </div>

    <div class="container">
        <div class="row">
            @foreach (var reservation in myReservations)
            {
                var imagePath = "/images/camping.jpeg";

            <div class="col-4 mb-5">
                <a class="pizza-img" asp-area="" asp-page="Detail">
                    <img src="@imagePath" class="w-100" asp-append-version="true" />
                </a>
                <br />
                <p class="nameText">@reservation.PlaceModel.Name</p>
                <p class="smallTextOwn">@reservation.PlaceModel.Description</p>
                <p class="smallTextOwn">@reservation.PlaceModel.PricePerDay</p>
                <p class="smallTextOwn">@reservation.EndDate</p>
                <p class="smallTextOwn">@reservation.StatusModel</p>
                <p class="smallTextOwn">@reservation.PlaceModel.AddressModel.ToString()</p>
                <p class="smallTextOwn">Udogodnienia:</p>
                <div>
                    <div>
                        @if (reservation.PlaceModel.AnimalsAllowed)
                        {
                            <span>Przyjazne zwierzętom</span>
                        }
                    </div>
                    <div>
                        @if (reservation.PlaceModel.ReceptionExist)
                        {
                            <span>Całodzienna recepcja</span>
                        }
                    </div>
                    <div>
                        @if (reservation.PlaceModel.MedicExist)
                        {
                            <span>Usługi medyczne</span>
                        }
                    </div>
                    <div>
                        @if (reservation.PlaceModel.RestaurantExist)
                        {
                            <span>Restauracja</span>
                        }
                    </div>
                    <div>
                        @if (reservation.PlaceModel.GrillExist)
                        {
                            <span>Miejsce na ognisko lub grilla</span>
                        }
                    </div>
                    <div>
                        @if (reservation.PlaceModel.WifiExist)
                        {
                            <span>WiFi</span>
                        }
                    </div>
                    <div>
                        @if (reservation.PlaceModel.SwimmingpoolExist)
                        {
                            <span>Basen</span>
                        }
                    </div>
                </div>
                <button class="own-button" type="submit">Pobierz potwierdzenie rezerwacji</button>
                <button class="own-button" type="submit">Anuluj rezerwację</button>
            </div>
            }
        </div>
    </div>
</div>



@*<PageTitle>@title</PageTitle>

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 text-capitalize text-black">Twoja rezerwacja</h1>
    </div>
    <div>
        <img src="<?= isset($place) ? $place->getImagePath() : '';?>" width="500" height="500">
    </div>
    <EditForm Model="@inputmodel" OnValidSubmit="@HandleValidSubmit">
        <input type="hidden" name="id">

        <label for="start">Rezerwacja od:</label>
        <InputDate @bind-Value="inputmodel.StartDate" id="start-date-input" />

        <label for="end">do:</label>
        <InputDate @bind-Value="inputmodel.EndDate" id="end-date-input" />

        <label for="start">Ilość osób:</label>
        <InputNumber @bind-Value="inputmodel.NumberOfPeople" id="number-of-people" />

        <div>
            <div>
                @if (Place.AnimalsAllowed)
                {
                    <span>Przyjazne zwierzętom</span>
                }
            </div>
            <div>
                @if (Place.ReceptionExist)
                {
                    <span>Całodzienna recepcja</span>
                }
            </div>
            <div>
                @if (Place.MedicExist)
                {
                    <span>Usługi medyczne</span>
                }
            </div>
            <div>
                @if (Place.RestaurantExist)
                {
                    <span>Restauracja</span>
                }
            </div>
            <div>
                @if (Place.GrillExist)
                {
                    <span>Miejsce na ognisko lub grilla</span>
                }
            </div>
            <div>
                @if (Place.WifiExist)
                {
                    <span>WiFi</span>
                }
            </div>
            <div>
                @if (Place.SwimmingpoolExist)
                {
                    <span>Basen</span>
                }
            </div>
        </div>

        <p id="info"></p>
        <p>Total price is:</p>
        <p class="price" id="total-price"></p>

        <button class="btn btn-primary mt-1" type="submit">Anuluj</button>
    </EditForm>
</div>*@


@code {
    private string title = "CampApp";

    private List<ReservationModel> myReservations = new List<ReservationModel>();

    private async Task HandleValidSubmit()
    {
        try
        {
            myReservations = await ReservationService.GetMyReservation();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

}

